.wrapper {
  @apply inline-flex flex-col relative w-full;
}

.label {
  @apply block text-left cursor-default;
  @apply text-xs font-mono uppercase font-semibold text-gray-500;
}

.group {
  @apply flex flex-row w-full items-center;
  @apply bg-background border border-black;
  @apply pr-1;
  @apply shadow-inner;
}

.focused {
  @apply outline-none ring-primary-400 ring;
}

.realInput {
  @apply flex-grow;
  @apply py-1 px-2;
  @apply focus:outline-none;
  @apply text-sm;
  @apply bg-transparent;
  @apply placeholder:italic placeholder:text-gray-400;
}

.description {
  @apply text-xs;
}

.error {
  @apply text-xs font-medium text-red-800;
}

.buttonSection {
  @apply h-full flex flex-col justify-center;
  @apply ml-1.5;
}

.button {
  @apply text-xs;
}

.icon {
}
