.container {
  @apply inline-flex flex-col relative w-full;
}

.label {
  @apply block text-left cursor-default;
  @apply text-xs font-mono uppercase font-semibold text-gray-500;
}

.button {
  @apply relative inline-flex flex-row  w-full;
  @apply bg-background border border-black outline-none;
  @apply py-1 pl-2 pr-1;
  @apply text-sm;
  @apply hover:border-focused-600;
  @apply transition duration-150 ease-in-out;
  @apply focus:ring-focused-400 focus:ring-1 focus:border-focused-400;
  @apply shadow-sm hover:shadow;
  @apply focus:outline-none focus-visible:outline-none;
}

.value {
  @apply text-sm flex-grow text-left;
}

.selected {
  @apply text-gray-800;
}

.icon {
  @apply w-5 h-5;
}

.popoverContent {
  @apply bg-background;
  @apply border border-black;
  @apply max-h-64 overflow-auto;
}
