*.log
.idea
.trash/
.DS_Store
*.pem

# build / dev
node_modules
dist
packages/*/*/src/*.js*
.yarn/

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

.yarnrc.yml

# typescript
*.tsbuildinfo

# for now
.run

storybook-static

# Apps developed with library but not part of monorepo
apps/greenprint

.pnp.*`