.container {
}

.title {
    @apply font-medium text-sm;
}

.popover {
    @apply max-w-lg;
}

.popover > a:first-of-type {
    @apply block w-full;
    @apply whitespace-nowrap text-ellipsis;
    @apply overflow-hidden overflow-ellipsis;
}

.popover p {
    @apply my-2;
}

.list {
    @apply inline-block;
}

.listItem {
    @apply pl-1 mb-1;
}

.sourceButtonText {
    @apply italic underline;
}
