.centeredTitle {
    @apply font-bold font-mono uppercase;
}

.centeredMessage {
    @apply font-medium;
}

.centeredContainer {
    @apply text-center w-full;
    @apply bg-none text-red-600;
    @apply border border-red-600;
    @apply shadow-md shadow-red-700;
}

.inlineTitle {
    @apply py-0.5 px-1;
    @apply bg-none text-red-600;
    @apply font-semibold font-mono uppercase;
}

.inlineMessage {
    @apply py-0.5 px-1 w-max;
    @apply bg-none text-red-600;
    @apply font-medium;
}

.inlineContainer {
    @apply flex w-max;
    @apply border border-red-600;
    @apply shadow-md shadow-red-700;
}
