.wrapper {
  @apply font-mono;
}

.wrapper tr {
}

.wrapper thead tr {
}

.wrapper tbody th {
  @apply text-left;
}

.wrapper tbody tr {
  @apply border-t border-black;
}

.wrapper tbody td {
  @apply text-right;
}

.wrapper tbody tr.subrow {
  @apply border-t border-zinc-300;
}

tr.subrow th {
  @apply italic font-medium;
  @apply pl-5;
}

.wrapper td {
}

.wrapper abbr {
  @apply decoration-2 decoration-primary-400 decoration-4 decoration-dotted;
  @apply underline;
  @apply cursor-help;
}

.flatWrapper {
  @apply border-2 border-black;
  @apply shadow-lg;
}

.flatWrapper th,
.flatWrapper td {
  @apply border border-black;
  @apply px-2 py-0.5;
}

.flatWrapper th:first-of-type {
  @apply text-left;
}

.flatWrapper tbody td {
  @apply text-right;
}

.flatWrapper thead {
  @apply border-b-2 border-black;
  @apply text-white bg-black;
}

.flatWrapper tr {
}

.flatWrapper .subrow {
  @apply text-zinc-600;
}

.flatWrapper abbr {
  @apply underline-offset-1;
  @apply decoration-2 decoration-primary-600;
  @apply cursor-help;
}
