.container {
}

.itemsWrapper {
  @apply pl-2;
}

.label {
  @apply block text-left cursor-default;
  @apply text-xs font-mono uppercase font-semibold text-gray-500;
}

.itemLabel {
  @apply cursor-pointer;
  @apply relative flex flex-row;
  @apply h-7;
}

.inputDiv {
  @apply h-4 w-4;
  @apply mr-1 mt-0.5;
}

.input {
  @apply appearance-none cursor-pointer;
  @apply w-full h-full;
  @apply bg-background checked:bg-zinc-800;
  @apply border-black border-2;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.disabledInput {
  @apply border-zinc-700 bg-zinc-300 cursor-not-allowed;
}
