.wrapper {
  @apply border;
  @apply flex flex-col flex-grow;
  @apply overflow-auto;
  @apply bg-background-50;
}

.topicSection {
  @apply mb-2 px-4 pt-4;
}

.cta {
  @apply text-2xl md:text-3xl lg:text-5xl font-semibold lg:font-semibold;
  @apply mb-2;
}

.dashboard {
  @apply mt-6;
  @apply flex-grow;
  @apply md:flex;
}

.dashboardSection {
  @apply basis-1/2;
  @apply flex flex-col;
  @apply overflow-auto;
  @apply px-4 pt-8;
  @apply first-of-type:border-r-2;
  @apply border-black;
  @apply border-t-2;
}

.dashboardSection h2 {
  @apply text-3xl font-bold;
  @apply mt-4 my-2;
}

.geoSection {
  @apply border-b-2;
}

.indSection {
  @apply flex-grow overflow-auto;
}

.geogTitle {
  @apply font-medium text-5xl;
  @apply py-4;
}
