.wrapper {
  @apply w-full;
  @apply overflow-auto;
}

.subWrapper {
  @apply md:container mx-auto pt-4;
}

.main {
  @apply pb-4;
  @apply flex flex-row;
}

.intro {
  @apply basis-1/2;

  @apply pb-4;
}

.title {
  @apply font-black text-4xl;
}

.subtitle {
  @apply font-semibold text-xl mt-1;
}

.description {
  @apply pt-6;
  @apply w-2/3;
}

.mapSection {
  @apply basis-1/2;
  @apply border-l-2;
}

.details {
  @apply flex flex-row;
  @apply py-4;
  @apply border-t-2 border-b-2;
}

.geoDetails {
  @apply px-4;
}

.geogTitle {
  @apply mt-4;
  @apply font-semibold text-3xl;
}

.contextDetails {
  @apply px-4;
}

.dashboard {
}

.domainSection {
  @apply h-4;
  @apply border-2;
}

.footer {
}

.overlapTitle {
  @apply text-sm font-medium;
  @apply py-1;
}

.overlapLink {
  @apply py-1 px-2;
  @apply underline text-blue-800;
}

.indicatorSection {
  @apply py-3;
}

.geogList {
}

.geogListItem {
  @apply inline-block;
}
