.wrapper {
  @apply w-full;
  @apply overflow-auto;
  @apply bg-amber-50;
}

.main {
  @apply lg:flex lg:flex-row;
}

.mapSection {
  @apply w-full h-96 lg:h-auto lg:basis-1/2;
  @apply border-b border-t border-black;
  @apply lg:border-t-0 lg:border-l-2 lg:border-b-2;
}

.intro {
  @apply md:w-full lg:basis-1/2;
  @apply pb-4;
}

.wrapper > .geoDetails {
  @apply lg:hidden;
  @apply border-0 lg:border-t-2;
  @apply px-12 pt-6;
}

.intro > .geoDetails {
  @apply hidden lg:block lg:h-24;
}

.geoDetails {
  @apply px-4;
  @apply border-t-2 border-black;
}

.intro > div,
.intro > p {
  @apply pl-12 pt-4;
  @apply pr-12 lg:pr-4;
  @apply mb-2;
}

.title {
  @apply font-black text-4xl;
}

.subtitle {
  @apply font-semibold text-xl mt-1;
}

.description {
  @apply pt-6 pb-2;
  @apply pr-4;
  @apply text-zinc-800 font-medium;
}

.description p {
  @apply mb-4;
}

.description a {
  @apply underline text-blue-800 font-medium;
  @apply hover:text-blue-500 active:text-blue-900;
}

.geogTitle {
  @apply font-medium text-xl whitespace-nowrap;
  @apply mb-0.5;
}

.contextDetails {
  @apply px-4;
}

.dashboard {
  @apply px-12 pt-4 pb-12;
}

.domainSection {
  @apply h-4;
  @apply border-2;
}

.footer {
}

.overlapSection {
  @apply flex gap-6;
}

.overlapTitle {
  @apply text-xs italic font-semibold text-cyan-700;
  @apply py-1 pl-1;
}

.overlapLink {
  @apply py-1 px-2;
  @apply underline text-blue-800;
}

.geogListItem {
  @apply inline-block;
  @apply text-4xl font-bold;
}

.topicSection {
  @apply py-3;
}

.geogList {
}
