.wrapper {
  @apply py-1 px-2.5;
  @apply font-mono font-semibold uppercase;
  @apply focus:outline-none focus-visible:outline-none border;
  @apply shadow active:shadow-sm hover:shadow-md;
  @apply hover:border-focused-600;
  @apply transition duration-150 ease-in-out;
  @apply focus:border-focused-400 focus:ring-1 focus:ring-offset-0 focus:ring-focused-400 active:ring-0;
}

.default {
  @apply text-black;
  @apply bg-background;
  @apply border-black;
  @apply shadow-black;
}

.elevated {
  @apply shadow-black shadow-xl;
  @apply active:shadow-lg hover:shadow-2xl;
}

.dense {
  @apply py-0.5 px-1.5;
  @apply text-xs font-medium;
  @apply shadow-sm hover:shadow active:shadow-none;
  @apply focus:border-black;
}

.primary {
  @apply text-black hover:text-white;
  @apply bg-primary-400 hover:text-black;
  @apply border-black;
  @apply shadow-black;
}

.secondary {
  @apply text-black hover:text-white;
  @apply bg-secondary-400 hover:text-black;
  @apply border-black;
  @apply shadow-black;
}
