.wrapper {
  @apply min-w-0 w-full h-full;
  @apply max-h-full max-w-full flex-grow min-h-0;
}

.wrapper.inPreview {
  @apply flex;
}

.wrapper .inPreview {
  @apply max-h-full max-w-full flex-grow flex min-h-0;
}

.chartWithTable {
  @apply max-h-full max-w-full min-h-0 w-full;
  @apply space-x-4;
  @apply flex;
}

.lineChartWithTable {
  @apply max-h-full max-w-full min-h-0 w-full;
  @apply space-y-4;
  @apply flex flex-col;
}

.lineChartWithTable .chart {
  @apply bg-white border-2 border-black p-2;
  @apply w-full;
}

.lineChartWithTable .table {
  @apply w-max;
}

.chartWithTable .chart {
  @apply bg-white border-2 border-black p-2;
  @apply max-h-full min-h-0;
  @apply lg:w-1/2;
}

.chartWithTable .table {
  @apply lg:w-1/2;
}

.table > table {
  @apply bg-white;
}

.vizListHeading {
  @apply flex;
  @apply mb-2;
  @apply pr-1;
}

.vizListHeading > div {
  @apply relative;
}

.vizListHeading svg {
  @apply inline-block;
}

.vizListHeading > div:first-of-type {
  @apply flex-grow;
  @apply flex items-center;
}

.vizListHeading > div:not(:first-of-type) {
  @apply space-x-2;
  @apply flex items-center;
}

.vizListHeading h3 {
  @apply font-semibold text-2xl;
}

.menuDiv {
  @apply border-2 border-black;
}

.mapWithChart {
  @apply border-2 border-black;
}

.mapWithChart > .mapDiv {
  @apply h-80;
  @apply border-b-2 border-black;
}

.mapWithChart > .chartDiv {
  @apply h-48;
}

.shareMenu {
  @apply py-2;
}

.shareMenu a {
  @apply underline decoration-2;
}

.shareMenu .bolded {
  @apply font-semibold;
}

.shareMenu ul {
  @apply space-y-2;
}

.shareMenu span svg {
  @apply inline;
  @apply font-bold;
}

.editMenu {
  @apply py-2;
}

.shareMenu textarea {
  @apply border shadow-inner;
  @apply w-56 p-1;
}

.clickable {
  @apply cursor-pointer;
  @apply mx-1;
}
