.pageContainer {
  @apply relative flex-col flex h-full;
}

.cardContainer {
  @apply w-full shadow border-2 border-black outline-none;
  @apply hover:shadow-lg hover:ring-1 hover:ring-black;
  @apply focus:shadow-lg focus:border-focused-400 focus:ring-1 focus:ring-focused-400;
  @apply text-left;
}

.vizPane {
  @apply h-48 relative flex overflow-hidden;
  @apply border-b border-black;
}

.titleSection {
  @apply pt-1 pb-3;
}

.details {
  @apply pb-5;
}

.detailsSectionHeader {
  @apply mt-5;
  @apply text-xs font-bold text-slate-600;
}

.detailsItem {
  @apply mt-2;
}

.detailsItem p {
  @apply mb-2;
}

.importance {
  @apply mt-2;
}

.geogPicker {
  @apply text-xs;
  @apply max-w-md;
}

.cardTitle {
  @apply text-lg font-semibold pt-2 px-2.5;
}

.bigTitle {
  @apply mt-4 mb-2 text-4xl font-bold;
}

.description {
  @apply text-black;
  @apply pt-0.5 pb-1 mb-4;
}

.cardDescription {
  @apply text-xs;
  @apply p-2 px-2.5;
}

.menuSection {
}

.menuSection button {
  @apply max-w-max;
}

.vizes {
  @apply my-2;
}

.vizList {
  @apply grid gap-4 sm:grid-cols-1 lg:grid-cols-2;
}

.vizListItem {
  @apply min-h-0 min-w-0;
}

.subtitle {
  @apply font-medium text-gray-600 py-1 mb-2;
}

.blurbs {
  @apply mb-4;
}

.blurbList {
}

.blurbListItem {
  @apply inline-block m-2;
}

.stretchy {
  @apply flex-grow;
}

.titleBar {
  @apply flex;
}

.titleDiv {
  @apply flex-grow;
}

.menuButtonDiv {
}
