.wrapper {
  @apply flex flex-row inline;
  @apply rounded-3xl border border-black;
  @apply w-max;
  @apply bg-background sm:text-sm;
}

.label {
  @apply bg-secondary-300;
  @apply font-semibold font-mono uppercase text-black;
  @apply px-1 border-black border-r rounded-l-3xl;
  @apply flex-grow-0 flex items-center;
}

.value {
  @apply flex-auto overflow-auto;
  @apply pl-1.5 pr-3.5;
}

.valueText {
  @apply font-semibold;
}

.icon {
}

.labelText {
  @apply px-0.5;
}

.size-S {
  @apply text-xs;
}

.size-S > div {
  @apply py-1;
}

.size-S > div:first-child {
  @apply pl-2;
}

.size-M {
  @apply text-sm;
}

.size-M > div {
  @apply py-1;
}

.size-M > div:first-child {
  @apply pl-2;
}

.size-L {
  @apply text-lg;
}

.size-L > div {
  @apply py-1;
}

.size-L > div:first-child {
  @apply pl-2;
}

.full {
  @apply py-1 pl-2;
  @apply w-full;
}
