.wrapper {
  @apply container pt-28 mx-auto;
  @apply text-center;
}

.infoTitle {
  @apply font-medium;
  @apply text-5xl;
  @apply pb-7;
}

.infoText {
}

.bigButton {
  @apply p-4;
  @apply h-32;
  @apply border border-black rounded-lg;
  @apply flex flex-col items-center;
  @apply bg-amber-100;
  @apply drop-shadow-md hover:drop-shadow-lg;
  @apply hover:border-2 hover:bg-amber-50;
  @apply active:border-2 active:bg-amber-50 active:shadow-inner active:drop-shadow-none;
}

.buttonTitle {
  @apply text-2xl font-semibold;
}

.buttonText {
  @apply font-medium text-sm;
  @apply m-3;
}

.buttonPicture {
}

.buttonSection {
  @apply py-4;
  @apply grid grid-cols-3 gap-12;
  @apply max-w-3xl mx-auto;
}

.content {
  @apply my-6;
  @apply text-left;
  @apply max-w-5xl mx-auto;
}
.content p {
  @apply text-lg;
  @apply mb-6;
  @apply leading-loose;
}

.content p strong {
  @apply text-2xl font-semibold;
}
